/* Sidebar.css */
.active {
  background-color: rgba(104, 101, 101, 0.366);
}

.cdb-sidebar {
  height: 100vh !important;
  display: flex;
  flex-direction: column;
}

.cdb-sidebar-content {
  flex: 1;
}

.cdb-sidebar-footer {
  margin-top: auto;
}

.sidebar_fixed {
  position: fixed !important;
}

.toggled {
  width: 80px !important; /* Adjust this width as needed */
  /* Add any other styles for the toggled state */
  /* text-align: left; */
  /* margin-right: 16px !important; */
}



@media only screen and (min-width: 80px) {
  /* styles for browsers larger than 1440px; */
  .item {
    margin-left: -17px !important;
  }
  .hamicon {
    margin-left: -5px;
  }
}
